body.indexA {
  background-color: black
}

h2.name1 {
  font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,sans-serif;
  color: black;
  margin-left: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 35px;
}

div.nameA {
  background-color: #FAC9B8;
  width: 155px;
  height: 85px;
  margin-left: 10px;
  margin-top: 20px;
  box-shadow: 10px 10px #065143;
}

div.link1 {
  margin-left: 20px;
  width: 625px;
  background-color: #065143;
  transition: 0.3s;
}

div.link2 {
  margin-left: 20px;
  width: 625px;
  background-color: #065143;
  transition: 0.3s;
}

div.link3 {
  margin-left: 20px;
  width: 625px;
  background-color: #065143;
  transition: 0.3s;
}

div.link4 {
  margin-left: 20px;
  width: 625px;
  background-color: #065143;
  transition: 0.3s;
}

h2.links {
  font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,sans-serif;
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
  font-size: 54px;
  color: white;
  transition: 0.3s;
}

div.link1:hover{
  background-color: black;
}

#linkDiv:hover #links{
  color: #A9DCB8;
}
div.link2:hover{
  background-color: black;
}

#linkDiv:hover #links{
  color: #A9DCB8;
}
div.link3:hover{
  background-color: black;
}

#linkDiv:hover #links{
  color: #A9DCB8;
}
div.link4:hover{
  background-color: black;
}

#linkDiv:hover #links{
  color: #065143;
}
